<h1>Sign Up</h1>
<hr>

<%= simple_form_for @user do |f| %>
  <%= f.input :name%> 
  <%= f.input :email%> <!-- , hint: 'user@domain.com' %> -->
  <%= f.input :password, :placeholder => 'Minimum 6 characters'%>
  <%= f.input :password_confirmation, label:'Confirmation', :required => true %>
  <%= f.submit 'Sign Up', :class => "btn btn-primary"%>
<% end %>