<%= form_for @event do |f| %>
<%= render 'shared/error_messages', :object => f.object %>
<div class="title">
	<%= f.label :title%>
<%= f.text_field :title %>
</div>
  <%= f.datetime_picker 'date', :dateFormat => "yy-mm-dd " , :timeFormat=> "hh:mm tt z" %>

<div class="field">
	<%= f.label :description%>
<%= f.text_area :description %>

</div>
<div class="actions">
<%= f.submit "Submit" %>
</div>
<% end %>
