	<%= simple_form_for @task do |f| %>
  <%= f.input :title%>
  <%= f.input :description%>
  *Date <br>
  <%#= f.datetime_picker :date, :dateFormat => "yy-mm-dd " , :timeFormat=> "hh:mm tt z" %> 
  <div id="datetimepicker1" class="input-append date">
  <%= f.text_field :date ,:required => true %>
    <span class="add-on">
      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
        </i>
      </span>
    
  </div><br ><br >


  <%= f.input :required, :label => "Required Members" %>

	<%= f.hidden_field :event_id, :value => @event.id %>
	<%= f.hidden_field :signedup, :value => 0 %>


  <%= f.submit 'Create', :class => "btn btn-primary"%>
<% end %>

<!--
<%= form_for @task do |f| %>

	<%= render 'shared/error_messages', :object => f.object %>
	<div class="title">
		<%= f.label :title%>
	<%= f.text_field :title %>
	</div>

	<div class="field">
	<%= f.label :description%>
	<%= f.text_area :description %>

	</div>

	Date and Time <br>
	<%= f.datetime_picker 'date', :dateFormat => "yy-mm-dd " , :timeFormat=> "hh:mm tt z" %>
	<br>

	<%= f.label :required%>
	<%= f.text_field :required %>
	<br>


	<%= f.hidden_field :event_id, :value => @event.id %>
	<%= f.hidden_field :signedup, :value => 0 %>

	<div class="actions">
	<%= f.submit "Create task" %>
	</div>
<% end %>
-->