
<h2> <%= current_user.name%>  </h2>
<h5>
	<a href="<%= user_path(current_user) %>">
	<%= gravatar_for current_user, :size => 30 %> <br>
</a>
	Signedup <%= pluralize(current_user.events.count, "event") %> <br>
	Doing <%= pluralize( current_user.doing_tasks.count, "task") %> <br> 
	
</h5>


