<tr>
	<td>
		<h4 style = "display:inline"> <%= event.title %>  </h4> <p> <%= event.description %> </p>   
		<p> <%= time_tag(event.date) %> </p>
		<p><small> Created <%= time_ago_in_words(event.created_at) %> ago. </small></p>

	
		<%= render :partial => 'users/follow_form',:locals => { :event => event} if signed_in? %>

		<%= link_to 'Create Task', new_task_path(:id => event.id) %>
			
		<% unless event.tasks.empty? %>
		<table summary="Event Tasks">
			<%= event.tasks.each do |task| %>
			<tr>
				
					<h4> <%= task.title %>  </h4> <p> <%= task.description %> </p>   
					<p> <%= time_tag(event.date) %> </p>
				
				
					Required : <%= task.required%> Signedup : <%= task.signedup%>
				
					<p><small> Created <%= time_ago_in_words(event.created_at) %> ago. </small></p>
					<%= render :partial => 'users/doform',:locals => { :task => task} if signed_in? %>
			</tr>
			<% end %>		

			</table>
		<% end %>


			<% user = event.user rescue User.find(event.user_id) %>
		<% if current_user?(user) %>

		<td>
			<%= link_to "delete", event, :method => :delete,
										 :confirm => "You sure?",
										 :title => event.title %>
		</td>
		<% end %>

	<td>
<tr>


 





 