<tr>
	<td>
		<h4 style = "display:inline"> <%= event.title %>  </h4> <p> <%= event.description %> </p>   
		<p> <%= time_tag(event.date) %> </p>
		<p><small> Created <%= time_ago_in_words(event.created_at) %> ago. </small></p>
		<%= link_to 'Create Task', tasks_path, :method => :post%>
		<%= render :partial => 'users/follow_form',:locals => { :event => event} if signed_in? %>


	</td>
</tr>


<!-- <tr>
<td>
<span class="title"><%= event.title %></span>
<span class="content"><%= event.description %></span>
<span class="content"><%= time_tag(event.date) %></span>
<span class="timestamp">
Created <%= time_ago_in_words(event.created_at) %> ago.
</span>
</td>
</tr>
 -->