<tr>
	
		<h4 style = "display:inline"> <%= event.title %> :  </h4> 
		<%= event.description %> <br>
		<p>	On <%= time_tag(event.date) %>
		<small> created <%= time_ago_in_words(event.created_at) %> ago. </small></p>

	
		<%= render :partial => 'users/follow_form',:locals => { :event => event} if signed_in? %>
		<%= link_to 'Create Task', new_task_path(:id => event.id) %>
			
		<% unless event.tasks.empty? %>
		
		<table class="table table-striped">
			<% event.tasks.each do |task| %>
			<tr>
				<h4> <%= task.title %>  </h4>
				<%= task.description %>  
				<%= time_tag(event.date) %>				
				Required : <%= task.required - task.users.count%>
							
				<p><small> Created <%= time_ago_in_words(event.created_at) %> ago. </small></p>
				<%= render :partial => 'users/doform',:locals => { :task => task} if signed_in? %>
				<% user = task.user rescue User.find(task.user_id)%>
				<% if current_user?(user)%>
					<%= link_to "delete task", task, :method => :delete,
															:confirm => "You sure?",
															:title => event.title%>
				<% end %>
			</tr>
			<% end %>
			
		</table>
	<% end %>

		<% user = event.user rescue User.find(event.user_id) %>
		<% if current_user?(user) %>

		<td>
			<%= link_to "delete", event, :method => :delete,
										 :confirm => "You sure?",
										 :title => event.title %>

			<%= link_to "invite",new_invite_path(:id =>event.id) %>
		</td>
		<% end %>

	<td>
<tr>


 


