<div > 
		<h4 style="display:inline" id="event<%=index%>"> <%= event.title %>  <i class=" icon-arrow-down"> </i> </h4> 

		<small> by <% user = event.user rescue User.find(event.user_id) %> <%= user.name%> </small>

		<br>
		<div class="description"> <p style="display:inline"><%= event.description %> <br> </div>
   		<!-- <i class="icon-globe"> </i>  -->On <%= time_tag(event.date) %> 
   		<!-- <i class="icon-star"> </i>  --> <small> and has </small> <%= pluralize(event.tasks.count,"task") %><br>

   		<% homeevent = Event.find_by_id(event.id)%>
   				
   				<% if current_user.following?(homeevent)%>
		<i class="icon-plus-sign"> </i>	<%= link_to " Task ", new_task_path(:id => event.id), :class=> "mylink"%>  
		<% end %>

			
		   <% if current_user?(user) %>
		 	<i class="icon-trash"> </i> <%= link_to "  Delete", event, :method => :delete, :confirm => "You sure?", :title => event.title, :class => "mylink" %>
			   	 <%#= link_to "Invite People",new_invite_path(:id =>event.id), :class => "btn"%>   	 
			<% end %>
			<i class="icon-time"> </i> <small style="display:inline"> <%= time_ago_in_words(event.created_at) %> ago. </small>

			 <%= render :partial => 'users/follow_form',:locals => { :event => event} if signed_in? %>


		</p>
 </div> 


		<% unless event.tasks.empty? %>			
		<div class="task_list"id="tasks<%= index %>">

				<% event.tasks.each_with_index do |task, index| %>
					

				<h5 style="display:inline"> <%= task.title %> : </h5> 
				
				<small> by <% user = task.user rescue User.find(task.user_id)%> <%= user.name%> </small>

   			 	<div class="description"> <p style="display:inline"> <%= task.description %> <br> </div>
   			 	<i class="icon-user"> </i> <%= task.required - task.users.count%>  Required &nbsp
   			 	<i class="icon-globe"> </i> On <%= time_tag(task.date) %> 
						
  
   				<% homeevent = Event.find_by_id(task.event_id)%>
   				<% creator_user = User.find(homeevent.user_id)%>
   				<% if current_user?(user) || current_user?(creator_user)%>
	   				<i class="icon-trash"> </i> 
	   				<%= link_to "Delete", task, :method => :delete, :confirm => "You sure?",    :title => task.title%> &nbsp
   				<% end %>
   				<!-- <i class="icon-time"> </i> <small> <%= time_ago_in_words(event.created_at) %> ago. </small> -->

   				 <%= render :partial => 'users/doform',:locals => { :task => task}  if signed_in? %>
   				</p>
   				
   				<% end %>

   		</div>
	
		

			<%end%>
			<hr>
