<% if signed_in? %>

		
	<div class="span12">		
		<div class="span9">

			<h2 style="display:inline"> Welcome <%= current_user.name%></h2><br>
			<p> Checkout various events you want to contribute in.</p>
			
			<h4> 
				<i class = "icon-list"> </i> <%= link_to 'Your Events', user_path(current_user)%> &nbsp
				<i class= "icon-ok">  </i><%= link_to ' Your Tasks', task_path(@current_user)%>
				<span class="pull-right">
					<i class="icon-pencil"> </i> <%= link_to 'Create Event', new_event_path %>
				</span>
			</h4>
				
			<hr>

				<%#= render 'shared/user_info' %>
								
				<%  @eventlist=Event.all %>
					<% # @eventlist= @eventlist.paginate(:page => 1, :per_page => 2)%>
				<% @eventlist.each_with_index do |vel,index|%>
					<div>
					<table class="table table-striped">
						<%= render vel, :index => index %>
					</table>
					<%#= will_paginate @listss %>
					</div>
				<% end %>


					</div>
				
<!-- <div class="nav nav-tabs nav-stacked" >
	<%# render 'layouts/sidebar'%>
</div>
 -->

 				<br>
<br>
<br>

			</div>

	<%# fadsfds%>


<% else %>
	<div style="text-align:center;background:url(http://www.wespeaknews.com/wp-content/uploads/2011/12/mood-indigo-2011.jpg);">
		<div class="masthead">
			<h1 style="font-size:70px;color:#fff;"><i>MI</i> Teamer</h1>
			<hr >
			<p style="color:#fff;">
				&nbsp; Teamer provides a simple interface to create, join and invite to events. 
				
				It helps you to team up and collaborate effortlessly to make ideas happen.
				Organisations, non-profits and infomal groups can now work seamlessly towards their goals.
			</p>

			<h2>Get started for only $<%= ab_test :price_options %> a month!</h2>
			
		</div>
		<br>
		<div class="btn btn-success btn-small" style="text-align:center;"> 
			
			
			<%= link_to "Join now!", signup_path, :class => (ab_test :signup_link)  %> <!-- , style: bigger %>  -->
			
		</div>
		<br><br><br>
	</div>
<% end %>