<div class="container">
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
  	<div class="nav nav-pills pull-right">
    
			<!-- <ul class> -->
				<div class="brand">
				<li style="font color=yellow"> <%= link_to 'Teamer', root_path %></li>
				</div>
				<% if signed_in? %>
					<li><%= link_to "Profile", current_user %></li>
					<li><%= link_to "Settings", edit_user_path(current_user) %></li>
				<% end %>
				
				<% if signed_in? %>
					<li><%= link_to "Users", users_path %></li>
					<li><%= link_to "Logout", signout_path, :method => :delete %></li>
				<% else %>
					<li> <%= link_to "Join", signup_path%></li>
					<li><%= link_to "Login", signin_path %></li>
				<% end %>
			<!-- </ul> -->
		</div>
	</div>
</div>
</div>