<!DOCTYPE html>
<html>
<head>
<title>Blog</title>
<%= csrf_meta_tag %>

<%= javascript_include_tag "application" %>
<%= stylesheet_link_tag 'bootstrap.css'%>
<%= stylesheet_link_tag 'bootstrap.min.css'%>
<%= stylesheet_link_tag 'bootstrap-responsive.min.css'%>
<%= stylesheet_link_tag 'bootstrap-responsive.min.css'%>

<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!-- <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
<%= stylesheet_link_tag 'blueprint/print', :media => 'print' %> -->
<!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
<%= stylesheet_link_tag 'custom'%>



</head>

<body>
<div class="container">

<!--<%= image_tag("logo.png", :alt => "Sample App", :class => "round") %> -->

	<%= render 'layouts/header' %>

	<section>
		<% flash.each do |key, value| %>
			<div class="flash <%= key %>"><%= value %></div>
		<% end %>
		<%= yield %>
	</section>

	<%= render 'layouts/footer' %>

</div>

</body>
</html>


