<!DOCTYPE html>
<html>
<head>
<title>Teamer</title>
<%= csrf_meta_tag %>

<%= javascript_include_tag "application" %>
<%= stylesheet_link_tag 'bootstrap.css' %>
<%= stylesheet_link_tag 'bootstrap.min.css'%>
<%= stylesheet_link_tag 'bootstrap-responsive.min.css'%>
<%= stylesheet_link_tag 'custom'%>



</head>
<body>


<%= render 'layouts/header' %>

<div class="container">

<!--<%= image_tag("logo.png", :alt => "Sample App", :class => "round") %> -->

	

	<section>
		<div  class="alert-message">
			<% flash.each do |key, value| %>
				<div class="flash" <%= key %>  > <%= value %></div>
			<% end %>
		

	<div>

		<%= yield %>
	</section>


	<%= render 'layouts/footer' %>

</div>

</body>
</html>


